## Layout
[Tt]mp/
[Bb]in/
[Ll]ib/
[Bb]uild/
[Dd]ebug/
[Rr]elease/

## POSIX
*~
*.lock
*.swp
*.la
*.a
*.lo
*.o
*.so
*.so.*
*.out
*.svn*
*.lib
*.dylib
*.app
.DS_Store
._*

## Windows
*.bak
*.tmp
*.dll
*.exe
*.slo
*.lai
*.log
thumbs.db
[Tt]humbs.db
[Tt]humbs.DB
THUMBS.DB
[Dd]esktop.ini
[Dd]esktop.INI
DESKTOP.INI
[Ii]con?
$RECYCLE.BIN/
~$*

## Make
*Makefile
config.status
config.log
config.h
stamp-h*
decomp
*.deps/
*.libs/
*.dirstamp*
depcomp
libtool
cscope.*

## Eclipse
.metadata
.loadpath
.buildpath
.launch
.cproject
.settings/
.externalToolBuilders/

## xCode
*.hmap
*.pbxuser
!default.pbxuser
*.mode2v3
!default.mode2v3
*.mode1v3
!default.mode1v3
*.perspective
!default.perspective
*.perspectivev3
!default.perspectivev3
*~.nib
profile
xcuserdata
*.moved-aside
DerivedData
project.xcworkspace

## Visual Studio
*_i.c
*_p.c
*.aps
*.cache
*.cachefile
*.dbmdl
*.ilk
*.lib
*.meta
*.ncb
*.obj
*.opensdf
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
*.psess
*.publishsettings
*.rsp
*.sbr
*.scc
*.sdf
*.sln.docstates
*.suo
*.tlb
*.tlh
*.tmp_proj
*.user
*.vsp
*.vspscc
*.vspx
*.vssscc
*.testsettings
*.unsuccessfulbuild
.builds
Ankh.NoLoad
x64/
ipch/

## generated binaries
hactar_shell
hactar_test

